.aboutUs {
  padding-top: 60px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
  max-width: 375px;
}
.aboutDescription {
  border-radius: 30px;
  background: #f3f3f3;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.aboutHeader {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.aboutText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.aboutButton {
  border-radius: 16px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  padding: 15px 38px;
}
.aboutButton:hover {
  background: #1f3cd4;
}
.aboutImg {
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}
